//fonts sizes
$xxx-large:2.3rem;
$xx-large:1.8rem;
$x-large:1.5rem;
$xx-small:.68rem;



$radius:3px;

$padding:30px;
$desktop_padding:90px;

//colors
$rose:#D13879;
$orange:#F27A00;
$yellow:#F8CB04;
$blue:#0496C2;
$dark_blue:#382F65;
$white:#fff;
